@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800@display=swap');
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}
:root {
    --main-color:#fcb700;
    --dark-color:#222222;
    --parg-color:#666666;
    --dark-red:#d01418;
    --border-color:#6666662a;
    --name-item:#0066c0;
}
body {
    font-family:'Rubik' , sans-serif;
    background:#f5f6f9 !important;
}
h1 , h2 , h3 , h4 , h5 , h6 {
    color: var(--dark-color);
}
p {
    color: var(--parg-color);
}
.to-Top {
    background: var(--main-color);
    color: #fff !important;
    padding: 5px 12px;
    border-radius: 5px;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    display: none;
    z-index: 2;
}
.to-Top::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e5a700;
    top: 0;
    left: -100%;
    z-index: -1;
    transition-duration: .3s;
}
.to-Top:hover::before {
    left: 0;
}
.bg.active {
    width: calc(100% - 250px);
    background: rgb(0, 0, 0, .5);
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 102 !important;
    transition: .3s;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background: #e5a700;
}
/* Start Header */
header {
    background: #fff;
    padding:10px 0px 0px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid var(--border-color);
}
header .search {
    border: 2px solid var(--main-color);
    border-radius:5px ;
    overflow: hidden;
    width: 400px;
}
header input {
    padding:5px 80px 5px 10px;
    border: none;
    outline: none;
}
header button {
    height: 100% !important;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--main-color);
    padding: 0px 10px;
    right: 0;
    top: 0;
}
header .cart-header {
    gap:10px
}
header .fa-bars {
    color: var(--main-color);
    font-size: 25px;
    cursor: pointer;
    display: none;
}
header .img_with_icon {
    margin-top:10px;
    padding: 0 20px;
}
header .img_with_icon img {
    width: 140px;
}
header .img_with_icon i {
    cursor: pointer;
    font-size: 19px;
    color: var(--main-color);
}
header .icon-cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: .3s;
}
header .icon-cart:hover {
    background: var(--main-color);
    color: white;
}
header .icon-cart span {
    top: -7px;
    right: -5px;
    background: var(--main-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: black;
}
header .total-price p {
    margin:0;
}
header a {
    text-decoration: none !important;
    color: unset !important;
}
header nav {
    z-index: 5;
}
header nav+span {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0 , .5);
    transition: .3s;
    display: none;
}
header nav a {
    font-weight: 500;
}
header ul {
    gap: 20px;
    margin-bottom: 0 !important;
}
header ul li {
    padding-bottom: 20px;
    position: relative;
}
header ul li::before {
    content:"";
    position: absolute;
    width: 0;
    height: 3px;
    background: var(--main-color);
    bottom: 0;
    left: 0;
    transition: .3s;
}
header ul li:hover::before , 
header ul li.active::before {
    width: 100%;
}
header .login_sign-up {
    gap: 20px;
    margin-bottom: 10px;
}
header .login_sign-up a {
    background: var(--main-color);
    padding: 5px 10px;
    border-radius: 5px;
}
/* End Header */
/* Start My Cart */
.my-cart {
    top:0;
    right: -250px;
    height: 100vh;
    background: #fff;
    width: 250px;
    z-index: 101;
    transition: .3s;
}
.my-cart.active {
    right: 0;
}
.my-cart .head {
    border-bottom: 1px solid var(--border-color);
}
.my-cart .head span{
    font-size: 14px;
    font-weight: 700;
    color: black;
}
.my-cart .head i {
    cursor: pointer;
    font-size: 17px;
}
.my-cart .body .no-product {
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    width: 100% !important;
}
.my-cart .foot p span{
    color: var(--main-color);
    font-weight: 600;
    font-size: 14px;
}
.my-cart .foot button:first-of-type {
    background: var(--main-color);
}
.my-cart .foot button {
    border: none;
    outline: none;

    width: 100%;;
    border-radius: 5px;
    padding:5px 0;
    text-transform: uppercase;
}
.my-cart .body {
    height: 100%;
}
.my-cart .foot p:not(span) {
    font-size: 15px;
}
.my-cart .foot button:last-of-type {
    border: 1px solid var(--main-color);
    background: white;
    transition: .3s;
}
.my-cart .foot button:last-of-type:hover {
    background: var(--main-color);
}
.my-cart .body > .product:not(:last-child) {
    margin-bottom: 20px;
}
.my-cart .body img {
    width: 80px;
}
.my-cart .body .product .text p {
    color: black;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 5px;
}
.my-cart .body .product .text .price {
    color: var(--parg-color);
    font-size: 12px;
    font-weight: 500;
}
.my-cart .body .product i {
    transition: .3s;
    cursor: pointer;
}
.my-cart .body .product i:hover {
    color: var(--dark-red);
    transform: scale(1.1);
}
.my-cart .foot {
    border-top: 1px solid var(--border-color);
}
/* End My Cart */
/* Start Side-Bar */
.side-bar .container .side_bar{
    width: 300px;
    background: #fff;
    padding: 10px;
}
.side-bar .container .side_bar h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    padding-top:0;
}
.side-bar .container .side_bar h2 i {
    cursor: pointer;
}
.side-bar .container .side_bar h2, 
.side-bar .container .side_bar a {
    padding:10px 0;
}
.side-bar .container .side_bar a {
    display: block;
    color: unset;
    border-top: 1px solid var(--border-color);
    color: var(--dark-color);
    transition: .3s;
    font-size: 14px;
    font-weight: 500;
}
.side-bar .container .side_bar a:hover {
    color: var(--main-color);
    transform: translateX(10px);
}
.side-bar .container .slide-swp {
    width: calc(100% - 350px);
    position: relative;
    overflow: hidden;
}
.side-bar .container .slide-swp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
}
.side-bar .container .slide-swp .swiper-pagination span {
    background: #fff;
    opacity: 1;
    transition: .3s;
}
.swiper-pagination-bullet-active {
    background: var(--main-color) !important;
    width:35px !important;
    height: 8px !important;
    border-radius: 30px !important;
}
/* End Side-Bar */
/* Start Features */
.features h4 {
    margin-bottom: 8px;
    font-size: 15px;
}
.features p{
    margin: 0;
    font-size: 12px;
}
.features img {
    width: 50px;
    height: 50px;
}
.features .item {
    width: calc((100% - 40px) / 5) ;
    gap: 10px;
    background: #fff;
    padding:15px !important;
    border: 1px solid var(--border-color);
    box-shadow: 5px 5px 10px #94949428;
    border-radius: 5px;
    transition-duration: .3s;
}
.features .item:hover {
    transform: scale(1.05);
}
/* End Features */
/* Start Banner */
.banner {
    margin:20px 0;
}
.banner .container .banner_img {
    width: 32%;
    position: relative;
    overflow: hidden;
}
.banner .container .banner_img img {
    width: 100%;
}
.banner .container .banner_img a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}
.banner .container .banner_img .glass_hover {
    width: 100% ;
    height: 100% ;
    position: absolute;
    z-index: 2;
}
.banner .container .banner_img .glass_hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(50deg , transparent 50%, rgba(255 , 255 , 255 , .1) 60%  , rgba(255, 255, 255, .5) 70% , transparent 71%);
    left:-100%;
    top:0;
    transition: .4s;
    z-index: 1;
}
.banner .container .banner_img a:hover + .glass_hover::after {
    left: 0;
}
.banner-big .banner_img {
    width: 49% !important;
}
/* End Banner */
/* Start Slide */
.slide .top-slide {
    border-bottom: 1px solid var(--border-color);
}
.slide .top-slide h2{
    padding: 20px 0;
    width: fit-content;
}
.slide .top-slide h2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
}
.products .product {
    background:#fff;
    padding: 15px 20px;
    box-shadow: 5px 5px 10px #94949428;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 25% !important;
    transition-duration: .3s;
}
.products .product .sale-present {
    color:#fff;
    background: var(--dark-red);
    z-index: 3;
    padding: 4px 12px;
    top:20px;
    right: 20px;
    border-radius: 5px;
    font-size: 14px;
}
.products .product .img-product img {
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
}
.products .product .img-product .img-hover {
    transform: scale(.1);
    top: 0%;
    left: 0%;
    opacity: 0;
}
.products .product .img-product:hover .img-hover {
    opacity: 1;
    transform: scale(1);
}
.products .product .product-name a {
    color: var(--name-item) !important;
    font-size: 16px;
}
.products .product .product-name a:hover {
    text-decoration: underline !important;
}
.products .product .stars i ,
.products .product .price :first-child {
    color: var(--main-color);
}
.products .product .price {
    gap:15px;
}
.products .product .price .old-price {
    color: var(--parg-color);
    text-decoration: line-through !important;
    font-size: 13px;
}
.products .product .icons {
    z-index: 2;
    right: -50px;
    top: 15%;
    gap: 20px;
    cursor: pointer;
    transition: .3s;
}
.products .product:hover .icons {
    right: 10px;
}
.products .product .icons span {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid var(--border-color);
    transition-duration: .3s;
}
.btn-Swip ,
.products .product .icons>span.active ,
.products .product .icons>span:hover {
    background: var(--main-color);
}
.btn-Swip{
    transform: translateY(-50%);
    color: #fff !important;
    border-radius:5px;
    padding: 0 18px;
}
.btn-Swip::after {
    font-size: 25px !important;
}
.swiper-button-prev {
    left: calc(100% - 100px);
}
.products .product .icons > span.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, .5);
}
.products .product .icons > span.active {
    cursor: auto;
}
.slide-sale .contain {
    gap: 30px;
}
/* End Slide */
/* Start Contact */
.news-letter .container {
    background: #fff;
    border-radius: 5px;
}
.news-letter .text {
    gap: 20px;
}
.news-letter .text .content h4 ,
.news-letter .text .content h6 {
    margin: 0;
}
.news-letter .text .content h4 {
font-size: 28px;
font-weight: 700;
}
.news-letter .text .content h6 {
    font-size: 20px;
    font-weight: 600 !important;
}
.news-letter form {
    width: 40%;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    overflow: hidden;
}
.news-letter form input ,
.news-letter form button {
    border: none;
    outline: none;
}
.news-letter form input {
    width: 100%;  
}
.news-letter form button {
    top:0;
    right: 0;
    height: 100%;
    color: #222222;
    background: var(--main-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}
/* End Contact */
/* Start Footer */
footer {
    background: #394150;
}
footer .content {
    gap: 10px;
}
footer .content i {
    font-size: 40px;
}
footer .content h5 {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
footer .content h6 {
    font-weight: 800;
    font-size: 14px;
}
footer .content i , 
footer .content h6 {
    color: var(--main-color);
}
footer p {
    margin: 0 !important;
}
footer .Row {
    width: calc(94% / 4);
}
footer .Row h5 {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
footer .Row:not(:first-child) a {
    color: #b1b1b1 !important;
    font-size: 14px !important;
    display: block;
    width: fit-content;
}
footer .Row:not(:first-child) a {
    transition-duration: .3s;
}
footer .Row:not(:first-child)  a:hover {
    color: var(--main-color) !important;
    transform: translateX(10px);
    /* text-decoration: underline !important; */
}
footer span:not(.date) {
    color: var(--main-color);
    cursor: pointer;
}
footer .bottom-footer {
    background: #202935;
}
footer .bottom-footer .container {
    margin-block: 0 !important;
}
footer .bottom-footer img {
    cursor: pointer;
    filter: grayscale(100%);
    transition-duration: .3s;
}
footer .bottom-footer img:hover {
    filter: grayscale(0);
}
footer .bottom-footer img:not(:last-child) {
    margin-right: 10px;
}
#np {
    font-size: 33px;
    font-weight: 900;
    width: 100%;
}
/* End Footer */
/* Start Responsive */
@media (width < 1200px) {
    .features .container {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center !important;
    }
    .features .item {
        width: calc((100% - 20px) / 3);
    }

    .slide .contain .categ_img {
        display: none;
    }
}
@media (max-width:992px) {
    header > .container:first-child {
        flex-wrap: wrap;
    }
    header form {
        width: 60% !important;
        margin: 10px auto;
        order: 2;
    }
    header hr {
        margin-top: 0 !important;
    }
    .side-bar .container .side_bar {
        display: none;
    }
    .side-bar .container .slide-swp {
        width: 100%;
    }
    .features .item {
        width: calc((100% - 10px) / 2);
    }
    .news-letter .container {
        flex-direction: column;
        gap: 20px;
    }
    .news-letter .container h4 {
        font-size: 19px !important;
    }
    .news-letter .container p {
        font-size: 14px;
    }
    .news-letter .container h6 {
        font-size: 16px !important;
    }
    .news-letter form {
        width: 80%;
    }
    footer>.container {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    footer > .container .Row {
        width: 49%;
    }
}
@media (width < 768px) {
    header form {
        width: 90% !important;
    }
    header .container:first-of-type {
        justify-content: center !important;
        gap:20px;
    }
    header nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: fit-content;
        background-color: #fff;
        width: 100%;
    }
    header nav ul{
        flex-direction: column;
        padding: 0 !important;
        margin-top: 20px;
    }
    header nav ul li {
        width: 100%;
        text-align: center;
    }
    header .fa-bars {
        display: block;
    }
    header ul li::before {
        transition: .5s;
    }
    header .img_with_icon {
        display: flex !important;
    }
    .features .item {
        width:100%;
        gap: 20px;
    }
    .products .product {
        width: 50% !important;
        margin-right: 15px !important;
    }
    .banner .container ,
    .banner .container {
        flex-direction: column;
        gap: 20px;
    }
    .banner .container .banner_img , 
    .banner .container .banner_img{
        width: 100% !important;
    }
    .slide .top-slide h2 {
        font-size: 20px;
    }
    .btn-Swip {
        top:121px !important;
    }
    footer>.container .Row {
        width: 100%;
    }
    footer .bottom-footer .container {
        flex-direction: column;
        row-gap: 10px;
    }
    footer .bottom-footer img {
        margin-right: 15px;
    }
    #np {
        font-size: 30px;
    }
    .right .foot h2 {
        font-size: 25px !important;
    }
}
@media (width >= 768px) {
    header nav {
        display: block !important;
    }
}
@media (width < 500px) {
    .my-cart {
        width: 100%;
        right: -100%;
    }
    .bg {
        display: none;
    }
    .products .product .sale-present {
        padding: 3px 6px;
    }
    .products .product .product-name a {
        font-size: 13px;
    }
    .products .product .stars i {
        font-size: 13px;
    }     
    .products .product .price p {
        font-size: 14px !important;
    }
    .news-letter form {
        width: 100%;
    }
    footer .text h5 {
        font-size: 16px;
    }
    footer .text h6 {
        font-size: 14px;
    }
    footer > .container i {
        font-size: 30px;
    }
    footer>.container img {
        width: 120px;
    }
    #np {
        font-size: 22px;
    }
    .right .foot h2 {
        font-size: 20px !important;
    }
}
/* End Responsive */
.page .left , 
.page .right {
    width: 47%;
}
.page .left .top {
    margin-bottom: 25px;
}
.page .left .top , 
.page .left .bottom {
    border-radius: 5px;
    background-color: #fff;
}
.page .left h2 {
    background: var(--main-color);
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    margin: 0 !important;
}
.page .left .top form {
    gap: 20px;
}
.page .left .bottom form div ,
.page .left .top form div {
    gap: 2px;
}
.page .left .bottom form label ,
.page .left .top form div label {
    font-weight: 600;
}
.page .left .bottom form input ,
.page .left .top form div input {
    outline: none;
    border: 1px solid var(--border-color);
    padding: 8px;
    border-radius: 5px;
}
.page .right {
    background: #fff;
    border-radius: 5px;
}
.page .right h2 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px !important;
    border-bottom: 1px solid var(--border-color);
    margin: 0;
}
.page .right img {
    width: 200px;
}
.page .right .text > p:first-child {
    font-weight: 800;
    font-size: 14px;
}
.page .right .body {
    min-height: 400px;
    max-height: 400px;
}
.page .right .text > p:last-child {
    font-weight: 600;
}
.page .right .PRODUCT {
    position: relative;
    width: 100%;
    /* border-bottom: 1px solid var(--border-color); */
}
.page .right .PRODUCT:not(:last-child):before {
    content:"";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 1px;
    background: var(--border-color);
}
.page .right .foot h2 {
    font-size: 30px;
    font-weight: 800;
}
.page button {
    border: none;
    outline: none;
    background: var(--main-color);
    color: #fff;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}
.page .PRODUCT i {
    top: 0px;
    left: 0px;
    color: var(--main-color);
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}
.page .PRODUCT i:hover {
    color: var(--dark-red);
}
@media (max-width:992px) {
    .page .container {
        flex-wrap: wrap;
        gap: 40px;
    }
    .page .container .left , 
    .page .container .right { 
        width: 100%;
    }
    .page .container .left .top {
        margin-bottom: 20px;
    }
}
.login-page .container .form {
    width: 400px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 15px #00000028;
}
.login-page .container .form h2 {
    text-align: center;
    font-weight: 900;
    font-size: 27px;
}
.login-page .container .form form input {
    width: 100%;
    outline: none;
    border: 1px solid var(--border-color);
    padding: 7px 12px;
    border-radius: 5px;
}
.login-page .container .form form input[type = "email"] {
    margin-bottom: 20px;
}
.login-page .forget-password {
    color: var(--parg-color);
    font-size: 14px;
}
.login-page .forget-password:hover {
    text-decoration: underline !important;
}
.login-page .login {
    width: 100%;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    background: var(--main-color);
    letter-spacing: 1px;
}
.login-page .login + p {
    font-size: 14px;
}
.login-page .login + p a {
    color: var(--main-color);
}
.login-page .login + p a:hover {
    text-decoration: underline !important;
}
.login-page button:not([type = "submit"]) {
    width: 100%;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
}
.login-page .apple {
    background: black;
    color: white;
}
.login-page .google {
    border: 1px solid #000 !important;
    background: #fff;
}
.login-page button:not([type = "submit"]) i {
    font-size: 20px;
}
.login-page .apple {
    margin-bottom: 10px;
}
@media (max-width:500px) {
    .login-page h2 {
        font-size: 24px !important;
    }
}
@media (max-width:450px) {
    .login-page .container .form {
        width: 100%;
    }
    .login-page button:not([type = "submit"]) {
        font-size: 14px;
    }
}